<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionapp120190914035450.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/cd43fc17-54a5-4a34-903b-8d10dd2c8330/resourcegroups/AzureFunctionTryOut/providers/Microsoft.Web/sites/FunctionApp120190914035450</ResourceId>
    <UserName>$FunctionApp120190914035450</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://functionapp120190914035450.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>